#wrapper {
    width: 80%;
    margin: auto;
    background-color: #47b0f6;
    text-align: center;
    box-shadow: 3px 3px 3px 3px;
    color: #fff8b9;
}

body {
    background-color: #cbeaff;
}

#wrapper2 {
    width: 80%;
    margin: auto;
    background-color: #fff8b9;
    text-align: center;
    box-shadow: 3px 3px 3px 3px;
    color: #47b0f6;
}

h2 {
    color: #ff8080;
}

#bluetoothSuite{
    align-items: center;
    margin: auto;
    border: 8px outset #50aaff;
    padding: 10rem;
}

#connectButton{
    background: #3498db;
    background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
    background-image: -moz-linear-gradient(top, #3498db, #2980b9);
    background-image: -ms-linear-gradient(top, #3498db, #2980b9);
    background-image: -o-linear-gradient(top, #3498db, #2980b9);
    background-image: linear-gradient(to bottom, #3498db, #2980b9);
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    font-family: Courier New;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
}

#connectButton:hover{
    background: #3cb0fd;
    background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
    background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
    text-decoration: none;
}